#idx-page-community{
	#neighborhoods{
		.idx-basic-list{
			.idx-basic-item{
				&:nth-child(n+2){
					max-height: 0;
					transition: max-height .3s ease-out;
					overflow: hidden;
					opacity: 0;
				}
				@media screen and (min-width: 768px){
					&:nth-child(2){
						max-height: 500px;
						transition: max-height .4s ease-in;
						opacity: 1;
					}
				}
				@media screen and (min-width: 991px){
					&:nth-child(3){
						max-height: 500px;
						transition: max-height .4s ease-in;
						opacity: 1;
					}
				}
				@media screen and (min-width: 1200px){
					&:nth-child(4){
						max-height: 500px;
						transition: max-height .4s ease-in;
						opacity: 1;
					}
				}
			}
			&.active{
				.idx-basic-item{
					&:nth-child(n+2){
						max-height: 500px;
						transition: max-height .4s ease-in;
						opacity: 1;
					}
				}
			}
		}
	}
}