/*----------------------------------------------------------------------------------*/
/* General
/*----------------------------------------------------------------------------------*/
$opensans : 'Open Sans', sans-serif;
$web-icons: 'ng-icons' !important;

body{
	background-color: #fff;
	color: #333;
	font-size: 16px;
	font-family: $opensans !important;
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	overflow-x: hidden;
}

/*----------------------------------------------------------------------------------*/
/* Loading
/*----------------------------------------------------------------------------------*/
.loading{
	&:before{
		content: "";
		position: absolute;
		top: 50% !important;
		left: 50% !important;
		margin-left: -25px !important;
		margin-top: -25px !important;
		width: 50px !important;
		height: 50px !important;
		border-radius: 50%;
		border: 10px solid #ccc;
		border-top-color: #e6992e;
		border-width: 5px;
		animation: spin 1s infinite linear;
		z-index: 2;
		display: block;
	}
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*----------------------------------------------------------------------------------*/
/* Fondo Gris
/*----------------------------------------------------------------------------------*/
.idx-bg-gray{
	background: #e6e4df;
	.idx-st-title{
		&:before{
	  	border-color: #cccbc6;
	  }
	}
}

/*----------------------------------------------------------------------------------*/
/* Fondo Gris bajo
/*----------------------------------------------------------------------------------*/
.idx-bg-gray-light{
	background: #f7f6f0;
	.idx-st-title{
		&:before{
	  	border-color: #dbdad6;
	  }
	}
}

/*----------------------------------------------------------------------------------*/
/* Texto oculto
/*----------------------------------------------------------------------------------*/
.idx-hidden-title{
	overflow:hidden;
	height: 0;
	width: 0;
}

/*----------------------------------------------------------------------------------*/
/* Margen básico
/*----------------------------------------------------------------------------------*/
.idx-mg-st{
	overflow: hidden;
	padding: 20px 10px 30px 10px;
	@media screen and (min-width: 480px){
		padding: 40px 0;
	}
}

.idx-ng-st{
	overflow: hidden;
	padding: 20px 0 30px 0;
	@media screen and (min-width: 480px){
		padding: 40px 0;
	}
}

.idx-section-header{
	padding: 0 10px;
	@media screen and (min-width: 480px){
		padding: 0;
	}
}

@media screen and (min-width: 480px){
	.idx-wrap{
		width: 86% !important;
		min-width: 310px;
		max-width: 1300px;
		margin-left: auto !important;
		margin-right: auto !important;
	}
}

/*----------------------------------------------------------------------------------*/
/* Título sección
/*----------------------------------------------------------------------------------*/
.idx-st-title{
	position: relative;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 15px auto 30px auto;
	width: 100%;
	@media screen and (min-width: 480px){
		width: 86%;
		min-width: 310px;
		max-width: 1300px;
	}

	&:before{
		content: "";
		border-width: 0;
		border-style: solid;
		border-color: #dbdad6;
    display: block;
    position: relative;
    bottom: -27px;
    left: 0;
    border-bottom: 2px solid #e6e4df;
    width: 80px;
	}

	@media screen and (min-width: 768px){
		font-size: 16px;
		margin-bottom: 50px;
		&:before{
			bottom: -40px;
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* Contendor de sección
/*----------------------------------------------------------------------------------*/
.idx-wrap{
	width: 100%;
	margin: 0 auto;
	position: relative;
	&:after{
		content: "";
		display: block;
		clear: both;
	}
}

/*----------------------------------------------------------------------------------*/
/* Boton ver más
/*----------------------------------------------------------------------------------*/
.idx-btn-sm{
	color: #666561;
	background: #e6e4df;
	height: 48px;
	width: 100%;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	span{
		display: flex;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 2;
		position: relative;
		&:after{
			content: "\e904";
			font-family: $web-icons;
			display: inline-block;
			font-size: 14px;
			margin-left: 10px;
			z-index: 2;
			transition: transform .3s;
		}

		&:before{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: rgba(0, 0, 0, 0.15);
			opacity: 0;
			transition: opacity .3s;
		}

		.idx-vm,
		.idx-vl{
			margin: 0 3px;
		}

		.idx-vl{
			display: none;
		}
	}

	&.active{
		span{
			.idx-vm{
				display: none;
			}
			.idx-vl{
				display: inline-block;
			}
			&:after{
				transform: rotate(-180deg);
			}
		}
	}

	&:hover{
		span{
			&:before{
				opacity: 1;
			}
		}
	}
	
	@media screen and (min-width: 768px){
		max-width: 320px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		height: 50px;
		font-size: 14px;
	}
}

/*----------------------------------------------------------------------------------*/
/* Boton link
/*----------------------------------------------------------------------------------*/
.idx-link-st{
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	color: #cc8829;
}

/*----------------------------------------------------------------------------------*/
/* Contenedor de botones
/*----------------------------------------------------------------------------------*/
.idx-btn-content{
	margin: 15px 0;
}

/*----------------------------------------------------------------------------------*/
/* Boton de play
/*----------------------------------------------------------------------------------*/
.idx-btn-play{
	width: 70px;
	height: 70px;
	border-radius: 100%;
	transition: all .3s ease !important;
	background-color: #FFF;
	opacity: .8;
	text-indent: -99999px;
	overflow: hidden;
	cursor: pointer;
	span{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		text-indent: -99999px;
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		&:before{
			text-indent: 0;
			content: "\ea1c";
			font-family: $web-icons;
			font-size: 24px;
			display: inline-block;
			color: #29b1cc;
		}
	}

	&:hover{
		opacity: 1;
	}
}

/*----------------------------------------------------------------------------------*/
/* Descripción básica
/*----------------------------------------------------------------------------------*/
.idx-basic-description{
	h2, h3, h4{
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 10px;
		@media screen and (min-width: 768px){
			font-size: 18px;
		}
	}
	p{
		font-size: 14px;
		line-height: 1.6;
		margin: 15px 0;
		@media screen and (min-width: 768px){
			font-size: 16px;
			line-height: 1.8;
		}
	}
	a{
		font-size: 14px;
		margin-bottom: 5px;
		display: block;
		color: #6b83b3;
	}
	ul{
		li{
			padding-left: 15px;
			font-size: 14px;
			margin-bottom: 10px;
			position: relative;
			&:before{
				content: "";
				display: block;
				width: 6px;
				height: 6px;
				background-color: #6b83b3;
				border-radius: 100%;
				top: 8px;
				left: 0;
				position: absolute;
			}
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* Link de ayuda
/*----------------------------------------------------------------------------------*/
.idx-helpful-links{
	padding: 20px;
	background-color: #FFF;
	margin-top: 15px;
	display: inline-block;
	width: auto;
	h2, h3, h4{
		font-weight: 600;
		font-size: 16px;
		margin-bottom: 10px;
	}
	a{
		font-size: 14px;
		margin-bottom: 5px;
		display: block;
		color: #6b83b3;
	}

	@media screen and (min-width: 768px){
		h2, h3, h4{
			font-size: 18px;
		}
		a{
			font-size: 16px;
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* Media Nav
/*----------------------------------------------------------------------------------*/
.idx-media-nav{
	background: #e6992e;
	display: flex;
	width: 100%;
	align-items: flex-start;
	.idx-btn-nav{
		height: 40px;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		color: rgba(0,0,0,0.4);
		background-color: transparent;
		&:hover,
		&.active,
		&:active{
			color: #FFF;
		}
		span{
			display: flex;
			height: 100%;
			width: auto;
			align-items: center;
			justify-content: center;
			padding: 0 10px;
			label{
				margin-left: 3px;
			}
		}

		@media screen and (min-width: 991px){
			height: 45px;
			font-size: 14px;
			span{
				padding: 0 15px;
			}
		}

		&.idx-icon-img{
			span{
				&:before{
					content: "\e906";
					font-family: $web-icons;
					display: inline-block;
					font-size: 16px;
					margin-right: 5px;
				}
			}
		}

		&.idx-icon-map{
			span{
				&:before{
					content: "\e903";
					font-family: $web-icons;
					display: inline-block;
					font-size: 16px;
					margin-right: 5px;
				}
			}
		}

		&.idx-icon-vid{
			span{
				&:before{
					content: "\ea1c";
					font-family: $web-icons;
					display: inline-block;
					font-size: 16px;
					margin-right: 5px;
				}
			}
		}
	}
}

/*----------------------------------------------------------------------------------*/
/* Lista basica
/*----------------------------------------------------------------------------------*/
.idx-basic-list{
	position: relative;
	margin-left: -10px;
	margin-right: -10px;
	display: flex;
	flex-wrap: wrap;
	&:after{
		content: "";
		display: block;
		clear: both;
	}
	
	.idx-basic-item{
		float: left;
		padding: 0 10px;
		/*width: 100%;*/
		display: flex;
		/*@media screen and (min-width: 640px){
			width: 50%;
			margin-bottom: 10px;
		}
		@media screen and (min-width: 991px){
			width: 33.33%;
		}*/
	}



}

/*----------------------------------------------------------------------------------*/
/* Modal Video
/*----------------------------------------------------------------------------------*/
.idx-video-inside{
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	opacity: 0;
	transition: opacity .3s;
	top: 0;
	left: 0;
	.idx-iframe{
		position: relative;
		padding: 15px;
		max-width: 1024px;
		width: 100%;
		z-index: 2;
    //transform: scale(0.7);
    transform: translateY(20%);
    opacity: 0;
    transition: all 0.3s;
    transition-delay: .6s;
    .idx-wrap-iframe{
			position: relative;
			display: block;
			height: 0;
			padding: 0;
			overflow: hidden;
			padding-bottom: 56.25%;
			embed, 
			iframe, 
			object, 
			video {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				border: 0;
			}
    }
	}

	.idx-modal-close{
		width: 30px;
		height: 30px;
		background-color: transparent;
		position: absolute;
		top: 16px;
		right: 16px;
		z-index: 2;
		span{
			display: flex;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			align-items: center;
			justify-content: center;
			&:before{
				content: "\e907";
				font-family: $web-icons;
				font-size: 24px;
				display: inline-block;
				color: #FFF;
			}
		}

		@media screen and (min-width: 768px){
			width: 50px;
			height: 50px;
			span{
				&:before{
					font-size: 35px;
				}
			}
		}
	}

	.idx-modal-bg-close{
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.825);
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&.active{
		opacity: 1;
		.idx-iframe{
			//transform: scale(1);
			transform: translateY(0);
			opacity: 1;
		}
	}
}

/*
<div class="video-inside" style="left: 0px;">
	<div class="iframe">
		<iframe src="https://www.youtube.com/embed/Qux02q6tTZ4?autoplay=1" frameborder="0" allowfullscreen=""></iframe>
	</div>
	<button class="close-vi">
		<span class="op-icon-close">x</span>
	</button>
	<div class="bg-close"></div>
</div>*/