/*----------------------------------------------------------------------------------*/
/* Main (Reutilizable para todas las secciones que lo necesite)
/*----------------------------------------------------------------------------------*/
.idx-main-hd{
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	
	@media screen and (min-width: 768px){
		min-height: calc(100vh - 50px);
	}

	article{
		background-color: rgba($primary-color,.9);
		padding: 20px;
		position: relative;
		z-index: 1;
		top: 0;
		width: 100%;
	  margin-top: 40px;
		margin-bottom: 40px;
		max-width: 550px;
		margin-left: 0;
		@media screen and (min-width: 768px){
			margin-top: 70px;
			margin-bottom: 0;
		}
		h1{
			font-size: 28px;
			color: #FFF;
			font-weight: 700;
			@media screen and (min-width: 991px){
				font-size: 42px;
			}
		}

		h2, h3, h4{
			font-size: 12px;
			font-weight: 700;
			color: $primary-color-lighten;
			text-transform: uppercase;
			margin: 10px 0;
			@media screen and (min-width: 991px){
				font-size: 15px;
				margin: 18px 0;
			}
		}

		p{
			color: #FFF;
			font-size: 14px;
			line-height: 1.6;
			margin: 10px 0;
			@media screen and (min-width: 991px){
				font-size: 16px;
			}
		}

		ul{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: flex-start;
			li{
				width: auto;
				min-width: 50%;
				flex-grow: 1;
				font-size: 12px;
				color: $primary-color-lighten;
				text-transform: uppercase;
				font-weight: 700;
				padding-right: 5px;
				span{
					display: block;
					font-size: 32px;
					text-transform: none;
					color: #fff;
				}
				
				@media screen and (min-width: 991px){
					font-size: 14px;
					margin-top: 15px;
					span{
						font-size: 42px;
					}
				}
			}
		}
	}

	.idx-wrap-img{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-position: center;
		background-color: #333;
		img{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			opacity: 0;
			transition: opacity .6s;
		}
		&.loaded{
			img{
				opacity: 1;
			}
		}
	}

	.idx-wrap{
		padding: 0 10px;
		@media screen and (min-width: 480px){
			padding: 0;
		}
	}
}