/*----------------------------------------------------------------------------------*/
/* Grid Card
/*----------------------------------------------------------------------------------*/
.idx-grid-ng{
	position: relative;
	margin-bottom: 10px;
	.idx-grid-ng-img{
		position: relative;
		&:after{
			content: "";
			display: block;
			padding-bottom: 75%;
		}

		&:not(.loading){
			&:before{
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(to top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.01) 100%);
				z-index: 1;
			}
		}

		img{
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			position: absolute;
			object-fit: cover;
			z-index: 0;
		}

		.idx-grid-ng-information{
			position: absolute;
			padding: 15px;
			bottom: 0;
			left: 0;
			z-index: 1;
			h2{
				font-size: 16px;
				font-weight: 700;
				font-family: $opensans;
				color: #FFF;
				margin-bottom: 10px;
			}
			h3{
				font-size: 14px;
				font-weight: 700;
				font-family: $opensans;
				color: #FFF;
			}
		}
	}

	.idx-grid-ng-btn{
		width: 100%;
		a, button{
			height: 48px;
			display: block;
			width: 100%;
			color: #FFF;
			font-size: 12px;
			font-weight: 700;
			font-family: $opensans;
			text-transform: uppercase;
			background: #29b1cc;
			span{
				padding: 0 15px;
				text-align: center;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				z-index: 2;
				&:before{
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: -1;
					background-color: rgba(0,0,0,.15);
					opacity: 0;
					transition: opacity .3s;
				}
			}
			&:hover{
				span{
					&:before{
						opacity: 1;
					}
				}
			}
		}
	}

	.idx-grid-ng-content{
		padding: 15px;
		h2, h3, h4{
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 10px;
		}
		p{
			font-size: 14px;
			line-height: 1.6;
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0;
			}
		}
		a{
			font-size: 14px;
			margin-bottom: 5px;
			display: block;
			color: #6b83b3;
		}
	}

	.idx-grid-tag{
		position: absolute;
		top: 15px;
		right: -7px;
		padding: 13px;
    margin: 0;
    font-size: 12px;
    background: #e6992e;
    color: rgba(0,0,0,0.4);
    font-weight: 700;
    font-family: $opensans;
    z-index: 2;
	}
}