doctype html
html(lang='en')
	head
		title Home | Flexidx
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="#4b4b4b")
		meta(name="theme-color", content="#4b4b4b")
		meta(name="msapplication-navbutton-color", content="#4b4b4b")
		link(rel="stylesheet", href="css/style.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800")

	body#idx-page-community
		
		//Main content
		main.idx-load-element.idx-main-hd#idx-main
			.idx-wrap
				article
					h1 Burlingame
					h2 Timeless Elegance, Gracious Charm, Top Schools
					p Burlingame is one of the few areas that has maintained its gracious charm and timeless elegance over the decades. A favorite among families, Burlingame’s two main shopping areas, Burlingame Avenue and Broadway, attract a wide variety of shoppers discovering its boutiques, restaurants, dessert places, and clothing stores. Home to fresh farmer’s markets every Sunday morning in the summer and fall, jazz concerts in Washington Park, and a yearly Art in the Park fair, Burlingame is a wonderful place to start a family or retire later in life, and is well equipped for both!
					ul
						li
							span 28,098
							|Population
						li
							span 6,261
							|Homes
						li
							span $1.95M
							|Median Sale Price
						li
							span $2.08M
							|Average Sale Price
			.idx-wrap-img.idx-blazy(data-type="img")
				img(data-lazy="http://palaramoni.com/wp-content/uploads/2018/04/inspiration-miami-homes-design-elegant-home-show-ideas-9316-catmando-luxury.jpg").gs-lazy

		//Nav interno
		.idx-nav-int-content
			nav
				ul#idx-internal-nav
					li: a(href="#overview").active Overview
					li: a(href="#neighborhoods") Neighborhoods
					li: a(href="#data-and-market-conditions") Data & Market Conditions
					li: a(href="#schools-and-history") Schools & History
					//li: a(href="#residents") Residents
					//li: a(href="#properties") Properties
					li: a(href="#other-communities") Other Communities

		//Property information
		section.idx-load-element.idx-mg-st#overview
			h2.idx-hidden-title Property information
			.idx-wrap
				.row

					.idx-wrap-slider.col-sm-8
						.idx-media-nav
						
						.idx-slider-content
							#idx-gs-slider.idx-blazy(data-type="main-slider")
								.idx-gs-sl-item: img(data-lazy="//retsimages.s3.amazonaws.com/35/A10487435_1.jpg").img-slider.gs-lazy
								.idx-gs-sl-item: img(data-lazy="//retsimages.s3.amazonaws.com/35/A10487435_2.jpg").img-slider.gs-lazy
								.idx-gs-sl-item: img(data-lazy="//retsimages.s3.amazonaws.com/35/A10487435_3.jpg").img-slider.gs-lazy
								.idx-gs-sl-item: img(data-lazy="//retsimages.s3.amazonaws.com/35/A10487435_4.jpg").img-slider.gs-lazy
								.idx-gs-sl-item: img(data-lazy="//retsimages.s3.amazonaws.com/35/A10487435_5.jpg").img-slider.gs-lazy
								.idx-gs-sl-item
									img(data-lazy="images/mapa1.png").img-slider.gs-lazy.idx-img-map
									a(href="#", traget="_blank").idx-caption Click here to dowload the PDF
								.idx-gs-sl-item
									img(data-lazy="images/mapa2.png").img-slider.gs-lazy.idx-img-map
									a(href="#", traget="_blank").idx-caption Click here to dowload the PDF
								.idx-gs-sl-item
									img(data-lazy="images/mapa3.png").img-slider.gs-lazy.idx-img-map
									a(href="#", traget="_blank").idx-caption Click here to dowload the PDF
								.idx-gs-sl-item: iframe(width="100%",height="487px",data-lazy="https://www.youtube.com/embed/v2AC41dglnM?rel=0&amp;showinfo=0",frameborder="0", allow="autoplay; encrypted-media", allowfullscreen).img-slider.gs-lazy.idx-img-vid
								.idx-gs-sl-item: iframe(width="100%",height="487px",data-lazy="https://www.youtube.com/embed/P5ZJui3aPoQ?rel=0&amp;showinfo=0",frameborder="0", allow="autoplay; encrypted-media", allowfullscreen).img-slider.gs-lazy.idx-img-vid

					.idx-wrap-media.col-sm-4
						.idx-grid-card
							h3.idx-card-caption An Overview of Burlingame
							.idx-card-img.idx-blazy(data-type="img")
								img(data-lazy="//retsimages.s3.amazonaws.com/35/A10487435_6.jpg").gs-lazy
							.idx-card-link view more

						.idx-grid-card
							h3.idx-card-caption An Overview of Burlingame
							.idx-card-img.idx-blazy(data-type="img")
								img(data-lazy="//retsimages.s3.amazonaws.com/35/A10487435_7.jpg").gs-lazy
							.idx-btn-play(data-video="https://www.youtube.com/watch?v=Qux02q6tTZ4") view video 
								span

					.idx-basic-description.col-xs-12
						p With excellent, top rated public elementary and middle schools coupled with high parental involvement, Burlingame boasts one of the premier public high schools on the peninsula, not only known for its academics, but a fine sporting facility as well, which is shared with Burlingame residents and non-residents alike. The facilities include an aquatic center with a state-of-the-art Colorado timing system, a seven lane track (which would have been the site of the Olympic trials along with Stanford University had San Francisco been nominated as the U.S. host for the 2012 games!), two gymnasiums, eight tennis courts, and five football, soccer, and baseball fields.

		//Neighborhood list
		section.idx-load-element.idx-mg-st#neighborhoods
			h2.idx-st-title Neighborhoods
			.idx-wrap
				.idx-basic-list.row
					- for(b = 1; b < 9; b++)
						.idx-basic-item.col-xs-12.col-sm-6.col-md-4.col-lg-3
							.idx-grid-ng
								.idx-grid-ng-img.idx-blazy(data-type="img")
									img(data-lazy="//retsimages.s3.amazonaws.com/33/A10516333_1.jpg", alt="Burlingables, Timeless Elegance, Gracious Charm, Top Schools", title="Burlingables").gs-lazy
									.idx-grid-ng-information
										h2 Burlingables
										h3 Timeless Elegance, Gracious Charm, Top Schools
								.idx-grid-ng-btn
									a(href="neigborhood-detail.html"): span view
								.idx-grid-tag $1.65M - $2.75M
				button.idx-btn-sm
					span View 
						label.idx-vm more 
						label.idx-vl fewer
						|neighborhoods
		
		//Property Data information
		section.idx-load-element.idx-mg-st.idx-bg-gray#data-and-market-conditions
			h2.idx-st-title Data & Market Conditions
			.idx-wrap
				.idx-wrap-table-ct.row
						.col-xs-12.col-sm-12.col-md-5.idx-fx-table
							#idx-table-data.idx-wrap-table
								h2 Home Data
									span per tax records
								table.idx-table-fx
									tbody
										tr.idx-row
											td Single Family Homes
											td 6,261
										tr
											td 1 Bedroom Homes
											td 29
										tr
											td 2 Bedroom Homes
											td 1,339
										tr
											td 3 Bedroom Homes
											td 2,814
										tr
											td 4 Bedroom Homes
											td 1,569
										tr
											td 5+ Bedroom Homes
											td 510
										tr.idx-row
											td Condos/Townhomes
											td 828
										tr.idx-row
											td Duplex
											td 239
						
						.col-xs-12.col-sm-12.col-md-7.idx-fx-table
							#idx-table-price.idx-wrap-table
								h2 Price Data
								table.idx-table-fx
									thead
										tr
											td
											td 2016
											td 2017
									tbody
										tr.idx-row
											td.idx-nb Number of Sales
											td 211
											td 216
										tr.idx-row
											td.idx-nb Percent List Price Received
											td 106.4%
											td 109.4%
										tr.idx-row 
											td.idx-nb Median Sales Price
											td $1,880,000
											td $1,919,000
										tr.idx-row
											td.idx-nb Average Sale Price
											td $1,921,000
											td $1,975,000
										tr.idx-row
											td.idx-nb Lowest Sale Price
											td $550,000
											td $705,000
										tr.idx-row
											td.idx-nb Highest Sale Price
											td $4,588,000
											td $5,100,000

				ul.idx-basic-list.row
					
					li.idx-basic-item.col-xs-12.col-sm-6.col-md-4

						.idx-grid-ng
							.idx-grid-ng-img.idx-blazy(data-type="img")
								img(data-lazy="//retsimages.s3.amazonaws.com/33/A10513933_1.jpg", alt="Burlingables, Timeless Elegance, Gracious Charm, Top Schools", title="Burlingables").gs-lazy
							.idx-grid-ng-content
								h2 Burlingame Real Estate Market Review
								p Each year Raziel publishes this award winning annual review of the Burlingame real estate market.
							.idx-grid-ng-btn
								a(href="#"): span view
					
					li.idx-basic-item.col-xs-12.col-sm-6.col-md-4

						.idx-graph
							.idx-wrap-canvas.idx-blazy(data-type="graph")
								canvas#chart1(width="620", height="480", data-color="6583c1", data-element='[43,75,13,17,20,18]', data-labels='[2012,2013,2014,2015,2016,2017]')
							.idx-wrap-legend
								h2.idx-graph-title Average Days on Market
								span.idx-graph-detail Days
					
					li.idx-basic-item.col-xs-12.col-sm-6.col-md-4

						.idx-graph
							.idx-wrap-canvas.idx-blazy(data-type="graph")
								canvas#chart2(width="620", height="480", data-color="6583c1", data-element='[37,3,2,203,211,216]', data-labels='[2012,2013,2014,2015,2016,2017]')
							.idx-wrap-legend
								h2.idx-graph-title Home Sales
								span.idx-graph-detail Sales
					
					li.idx-basic-item.col-xs-12.col-sm-6.col-md-4

						.idx-graph
				
							.idx-wrap-canvas.idx-blazy(data-type="graph")
								canvas#chart3(width="620", height="480", data-color="6583c1", data-element='[99,99,100,108,105,108]', data-labels='[2012,2013,2014,2015,2016,2017]')
							.idx-wrap-legend
								h2.idx-graph-title Sale Price to List Price
								span.idx-graph-detail Percent of list price

		//Property History
		section.idx-mg-st.idx-bg-gray-light#schools-and-history
			h2.idx-st-title Schools & history
			.idx-wrap
				article.idx-basic-description
					h3 Schools
					p If you’re looking to buy a home in Burlingame in a particular public elementary school district, this unique google map will help you identify the geographic boundaries for enrollment of each school. This map was assembled from data from the school district website (handy for quickly identifying what school a particular address is assigned to), and is reliable but not guaranteed.
					
					p If you have more specific questions about schools in Burlingame, please contact Raziel. To watch Raziel’s Burlingame Buzz videos featuring the strengths of each school and interviews with each of the principals, click here. To verify enrollment in the event it is impacted, contact the Burlingame School District. To view detailed information about each preschool in Burlingame, click here.

					p All addresses in Burlingame go to Burlingame High School (In 2003, the district lines were redrawn to incorporate this change). Burlingame High is within the San Mateo Union High School District (not the Burlingame School District, which includes all five public elementary schools and BIS). To verify enrollment information, please contact the High School District.

				.idx-helpful-links
					h3 Helpful Links
					ul
						li: a(href="#") Burlingame School District Website
						li: a(href="#") School Videos and Pricipal Interviews
		
		//More Properties 
		section.idx-load-element.idx-ng-st#other-communities
			.idx-section-header
				h2.idx-st-title Other Communities
				
			.idx-wrap-gen-slider
				.idx-btn-content
					a(href="#").idx-link-st View all Communities
				#idx-communities-slider.idx-pt-slider.idx-general-slider.idx-blazy(data-type="gen-slider")
					- for(b = 1; b < 14; b++)
						.idx-item-pt-slider
							.idx-grid-ng
								.idx-grid-ng-img
									img(data-lazy="//retsimages.s3.amazonaws.com/22/A10512022_3.jpg", alt="Burlingables, Timeless Elegance, Gracious Charm, Top Schools", title="Burlingables").gs-lazy.img-slider
									.idx-grid-ng-information
										h2 Burlingables
										h3 Timeless Elegance, Gracious Charm, Top Schools
								.idx-grid-ng-btn
									a(href="neigborhood-detail.html"): span view
								.idx-grid-tag $1.65M - $2.75M

		script(type="text/javascript", src="js/jquery-3.1.1.min.js")
		script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js")
		script(type="text/javascript", src="js/greatslider.jquery.min.js")
		script(type="text/javascript", src="js/script.min.js")